apiVersion: v1
kind: Service
metadata:
  name: emqx-headless
  namespace: emqx
spec:
  clusterIP: None
  selector:
    app: emqx
  ports:
    - port: 1883
      name: mqtt
    - port: 18083
      name: dashboard
    - port: 8083
      name: ws